<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidapp.akira.nokinbattletraining">

    <application
        android:allowBackup="true"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.androidapp.akira.nokinbattletraining.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androidapp.akira.nokinbattletraining.EasyModeActivity" />
        <activity android:name="com.androidapp.akira.nokinbattletraining.NormalModeActivity" />
        <activity android:name="com.androidapp.akira.nokinbattletraining.HardModeActivity" />
        <activity android:name="com.androidapp.akira.nokinbattletraining.EasyModeResultActivity" />
        <activity android:name="com.androidapp.akira.nokinbattletraining.HardModeResultActivity" />
        <activity android:name="com.androidapp.akira.nokinbattletraining.NormalModeResultActivity"></activity>
    </application>

</manifest>